.carsPark{
  width: 100%;
  height: 370px;
  display: flex;
  -webkit-box-shadow: 15px 15px 16px -15px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 15px 15px 16px -15px rgba(0, 0, 0, 0.28);
  box-shadow: 15px 15px 16px -15px rgba(0, 0, 0, 0.28);
  border-radius: 6px;
  margin-top: 10px;
  overflow: hidden;

  @media (max-width: 650px) {
    height: 350px;
  }

  &_left{
    padding: 15px;



    &_container{
      position: relative;
      text-align: center;
      width: auto;
      background-color: #383838;
      height: 100%;
      color: white;
      display: flex;
      border-radius: 6px 0px 0px 6px;
      justify-content: center;

      @media (max-width: 850px) {
<<<<<<< HEAD
        width: 50%;
=======
>>>>>>> 35f495e70e4f26a7c4dc18d55cf1e0c651dbe791
      }

    }

    &_ygol{
      width: 30px;
      height: 30px;
      border-left: 5px solid #14a414;
      border-top: 5px solid #14a414;
      left: 15px;
      top: 15px;
      position: absolute;
      content: "";
      z-index: 900;
      border-radius: 2px 2px 2px 2px;
    }

    &_img{
      margin-bottom: 10px;
      position: relative;
      width: 100%;
      height: auto;
      max-height: 150px;
      object-fit: contain;

      @media (max-width: 850px) {
        max-height: 170px;
      }


    }

    &_title{
      font-size: 20px;
      line-height: 30px;
      color: #fafafa;
      text-transform: uppercase;
      font-weight: 700;
      margin: 20px 0;

      @media (max-width: 1050px) {
        margin: 10px 0;
        font-size: clamp(16px, 1.5vw, 20px);
      }
    }

    &_subtitle{
      margin-top: 15px;
      line-height: 18px;
      color: #a1a9a9;
      text-align: left;

      @media (max-width: 1050px) {
        font-size: clamp(13px, 1vw, 15px);
      }

    }

    &_count{
      font-size: 48px;
      font-weight: 600;
      color: #14a414;
      right: 15px;
      bottom: 10px;
      position: absolute;
      border-bottom: 2px solid white;
      border-radius: 3px;
    }
  }

  &_right{
    width: 80%;
    padding: 10px;
    border-radius: 0px 6px 6px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 100%;
    border: 1px solid #e4e4e4;
    border-left: 0px;


    @media (max-width: 450px) {
<<<<<<< HEAD
      width: 50%;
=======
      width: 100%;
>>>>>>> 35f495e70e4f26a7c4dc18d55cf1e0c651dbe791
      padding: 5px;
    }


    @media (max-width: 850px) {
      padding: 7px;

    }

    &_item{
      width: 100%;
      text-align: center;
      min-width: 130px;
      height: auto;
      object-fit: contain;


      img{
        margin-top: 15px;
        object-fit: contain;
        max-height: 250px;

        width: 100%;
        height: 50%;
      }

      &_title{
        margin-top: 10px;
        font-size: 14px;
        font-weight: 700;
        color: #555454;
        text-transform: uppercase;
        text-align: center;
        word-break: break-word;




      }
    }
  }
}