@import 'lib/normalize';
@import 'variables';

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

.main{
  background-color: #ffffff;
  z-index: 100;
  margin-left: 180px;

  @media (max-width: 990px) {
    margin-left: 0;
  }
}
.container{
  width: 100%;
  height: 100%;
  max-width: 1250px;
  padding: 10px 15px 10px 30px;

  @media (max-width: 990px) {
    padding: 15px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navBurger {
  display: none;
  width: 100%;
  justify-content: center;

  @media (max-width: 990px) {
    display: flex;
  }

}

.slick-slide{
  height: 100%;
  padding: 0 5px;
}

.slick-arrow{
  visibility: collapse !important;
  display: none !important;

}


.slick-dots{

}



.navT{
  -webkit-transition: all 0.25s;
  z-index: 111;
  cursor: pointer;
  display: none;
  position: relative;

  @media (max-width: 990px) {
    display: block;
  }

  .icon{
    -webkit-transition: all 0.25s;
    width: 40px;
    height: 3px;
    left: 15px;
    top: 30px;
    background-color: #14a414;
    border-radius: 2px;

    &:before, &:after{
      -webkit-transition: all 0.25s;
      width: 40px;
      height: 3px;
      left: 0;
      background:#14a414;
      position: absolute;
      border-radius: 2px;
      content: '';
    }
    &:before{
      top: -10px;
    }
    &:after{
      top: 10px;
    }

  }

  &.active{
    .icon{
      -webkit-transform: rotate(180deg);
      background-color: transparent;
      left: 10px;

      &:before, &:after{
        top: 0;
      }
      &:before{
        -webkit-transform: rotate(45deg);

      }
      &:after{
        -webkit-transform: rotate(-45deg);
      }
    }
  }
}




