.categoryPages{


  &_priceTable{
    width: 100%;
    -webkit-box-shadow: 0 0 6px 0 rgba(34,31,31,.15);
    box-shadow: 0 0 6px 0 rgba(34,31,31,.15);
    border-radius: 3px;
    margin-bottom: 20px;
    &_head{
      background-color: #14a414;
      text-transform: uppercase;
      font-weight: 800;
      padding: 20px;
      color: white;

      font-size: clamp(12px, 2vw, 16px);

      @media (max-width: 600px) {
        padding: 10px;
      }
    }

    &_body{
      &_subtitle{
        color: #000;
        font-weight: 600;
        padding: 20px;


        font-size: clamp(14px, 2vw, 16px);

        @media (max-width: 600px) {
          padding: 10px;
        }
      }

      &_title{
        color: black;
        font-weight: 600;
        padding: 20px;
        background-color: white;

        font-size: clamp(14px, 2vw, 18px);

        @media (max-width: 600px) {
          padding: 10px;
        }
      }

    }
    &_price{
      color: #14a414;


    }
  }

  &_priceFactor{

    &_item{
      display: flex;
      align-items: center;
      margin: 10px 0 0 0px;
      -webkit-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.1) inset;
      -moz-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.1) inset;
      box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.1) inset;
      padding: 5px 25px;
      border-radius: 55px;
      height: 110px;
      border: 2px solid transparent;
      transition: all 0.2s ease-in-out;

      @media (max-width: 780px) {
        height: auto;
        padding: 10px 15px 15px 15px;
        border-radius: 10px;
      }

      &:hover{
        border: 2px solid #14a414;
      }
      &_text{
        margin-left: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #3b3b3b;
        text-align: justify;
      }
    }
  }

  &_need{

    &_item{
      display: flex;
      align-items: center;
      margin: 10px 0 0 0px;
      -webkit-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.1) inset;
      -moz-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.1) inset;
      box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.1) inset;
      padding: 5px 25px;
      border-radius: 55px;
      height: 110px;
      border: 2px solid transparent;
      transition: all 0.2s ease-in-out;

      @media (max-width: 780px) {
        height: auto;
        padding: 10px 15px 15px 15px;
        border-radius: 10px;
      }

      &:hover{
        border: 2px solid #14a414;
      }
      &_text{
        margin-left: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #3b3b3b;
        text-align: justify;

        @media (max-width: 780px) {

        }

        span{
          font-weight: 800;
          margin-right: 10px;

          @media (max-width: 780px) {
            display: block;
            text-align: center;
            padding-bottom: 10px;
          }
        }
      }
    }
  }

  &_title{
    margin: 40px 0 20px 0;
    font-size: 30px;
    color: #313131;
    position: relative;
    font-weight: 800;


    span{
      font-weight: 500;
      color: #484343;

    }

    &:after {
      width: 100px;
      height: 2px;
      background-color: #14a414;
      margin: 15px 0 0 0;
      display: block;
      content: "";
    }

    @media (max-width: 990px) {
      margin: 20px 0 20px 0;
    }
  }

  &_litleTitle{
    font-size: 28px;
    font-weight: 700;
    margin: 25px 0;
    color: #3f3f3f;
    letter-spacing: 1px;
  }

  &_subTitle{
    font-size: 16px;
    font-weight: 400;
    color: #3b3b3b;
    line-height: 22px;
    text-align: justify;

  }

  &_text{
    font-size: 16px;
    font-weight: 400;
    color: #3b3b3b;
    line-height: 22px;
    text-align: justify;


    text-indent: 20px;
  }

  &_titleCenter{
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 50px 0 30px 0;
    color: #252525;
    text-align: center;

    @media (max-width: 780px) {

    }
  }

  &_description{
    border: 1px solid rgba(20, 164, 20, 0.2);
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.1) inset;
    -moz-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.1) inset;
    box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.1) inset;
    padding: 15px;
    color: #7c7c7c;
    margin-top: 15px;
    line-height: 21px;
    text-align: justify;
    text-indent: 20px;

    &:first-letter{
      font-weight: 900;
      font-size: 18px;
      color: rgba(20, 164, 20, 1);
    }
  }


  &_descriptionMin{
    border: 1px solid rgba(20, 164, 20, 0.2);
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(80, 34, 38, 0.1) inset;
    -moz-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.1) inset;
    box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.1) inset;
    padding: 15px;
    color: #393939;
    margin-top: 15px;
    line-height: 21px;
    text-align: justify;
    text-indent: 20px;

  }

  &_bread{
    margin: 15px 0;
    &_link{
      margin: 0px 10px 0px 10px;
      font-weight: 600;
      color: #777777;

      &:first-child{
        margin-left: 0;
      }

      &_last{
        color: #339933;
      }
    }
  }

  &_btnLink{
    justify-content: center;
    display: flex;

    border: 1px solid #14a414;
    padding: 10px 15px;
    border-radius: 25px;
    transition: all .2s ease-in-out;

    &:hover{
      background-color: #14a414;

    }
    &:hover &_text{
      color: #fff;
      letter-spacing: 1px;

    }

    &_text{
      transition: all .2s ease-in-out;
      color: #000;
      font-size: 20px;
      font-weight: 600;
    }
  }
}